SECRET_KEY=your-secret-key
DEBUG=True
PAYAZA_BASE_URL=https://api.payaza.africa
PAYAZA_PUBLIC_KEY=PZ78-PKTEST-your-uuid-here
PAYAZA_TENANT_ID=test
PAYAZA_SECRET=your-webhook-secret-here

# Email Configuration (Gmail Example)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
DEFAULT_FROM_EMAIL=TrustPay <noreply@trustpay.ng>

# Google OAuth (Production)
GOOGLE_CLIENT_ID=62451695606-fdhgitv0r348q278caloqotv8pgsq9hm.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Frontend URL (Production)
FRONTEND_URL=https://trust-pay-frontend.vercel.app
